<mat-toolbar color="primary" style="position: absolute; top:0px; left:0px; height:60px; right: 0px;">
  <span>Your CRM</span>
  <span style="flex: 1 1 auto"></span>
  <span>
    <mat-button-toggle value="togglePhone" (change)="togglePhone()">
      <mat-icon>dialpad</mat-icon>
    </mat-button-toggle>
    <app-phone style="position:absolute; right: 15px; top: 60px; z-index: 999;" [hidden]="!phoneVisible"></app-phone>
  </span>
</mat-toolbar>
<div style="position:absolute; top:60px; bottom:0px; left: 0px; right: 0px; overflow: hidden; margin:10px">
  <mat-form-field>
    <input matInput placeholder="Phone number" #phonenumber>
    <mat-hint align="start">E.164 number format</mat-hint>
  </mat-form-field>
  <button mat-raised-button color="accent" style="margin:5px" (click)="dial(phonenumber)">Click to Dial</button>
  <p></p>
  <p>Events sent <em>from</em> embedded PureCloud phone (newest at the top):</p>
  <div style="position:absolute; top:90px; bottom:0px; left: 0px; right: 0px; overflow: auto; background-color:whitesmoke">
    <ul class="mat-small" *ngFor="let l of log">
      <li>{{l}}</li>
    </ul>
  </div>
</div>